.tabs-container{
    /* border: 1px solid green; */
    width: 95%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tab-items-buttons{
    margin: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 17px;
    padding: 3px;
    background-color:transparent;
    border: none;
    /* border-bottom: 3px solid #ff8dc7; */
    border-bottom: 3px solid #F65A83;
    cursor: pointer;
    outline: none;
}

.optional{
    font-weight: 700;
    font-size: 17px;
    padding: 3px;
    background-color: transparent;
    color: gray;
    cursor: pointer;
    outline: none;
    border: none;
    margin: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-items-container{
    /* border: 1px solid black; */
    list-style-type: none;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
}

.cards-view-butons-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.page-view-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    outline: none;
}


.hr-line{
    width: 95%;
}

