.header-container{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 95%;
}

.header-title-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.header-title{
    font-weight: bold;
    font-size: 35px;
}


.learn-more-video-button{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color:#5f9df7;
    border: none;
    border-radius: 5px;
    background-color: aliceblue;
    cursor: pointer;
    outline: none;
    margin-left: 9px;
    font-size: 16px;
     margin-top: 9px;
     cursor: pointer;
     outline: none;
}

.media-icon{
    margin: 0px 5px;
    font-size: 16px;
    color:#5f9df7;

}

.create-card{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-weight: 700;
    color: black;
    padding: 8px 13px 8px 13px;
    font-size: 15px;
    border-radius: 7px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
    cursor: pointer;
    outline: none;
}

.plus-icon{
    font-size: 20px;
    font-weight: bold;
    margin: 0px 10px 0px 5px;
}